<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seon.project.mybatis.mappers.CalendarMapper">

	<select id="showSchedule" resultType="com.seon.project.model.CalendarVO">
		select sub,startDate,endDate
		from classroom.time
		order by
		idtime
		desc
	</select>
</mapper>